*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.container {
    width: 100%;
    display: flex;
    background-color: #083b4c;
    flex-wrap: wrap;
    
}

.container_{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#title {
    color: white;
    font-size: 70px;
    margin: 30px;
    padding-top: 30px;
}

.list {
    list-style: none;
}

.red{
    background-color: #f0466f;
}

.yellow {
    background-color: #ffd166;
    
}


.green {
    background-color: #0bd6a1;
}

.none {
    background-color:#1389b2 ;
}

.box{
    height: 85px;
    width: calc( 100% / 6 - 30px);
    display: inline-block;
    padding: 30px 0 ;
    margin: 10px;
    border-radius: 0;
    transition: 1s;
}

/* *****BONUS***** */
.green:hover{
    background-color: none;
    background-image: radial-gradient(#0bd6a1 , yellow);
    border-radius: 50%;
    scale: 2;
}

.yellow:hover{
    background-color: none;
    background-image: radial-gradient(green, yellow);
    border-radius: 50%;
    scale: 2;
}
.red:hover{
    background-color: none;
    background-image: radial-gradient(#f0466f, yellow);
    border-radius: 50%;
    scale: 2;
}
.none:hover {
    border-radius: 50%;
    scale: 0.5;
}